<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/homepage.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="webcamWrapper" style="display: none; margin-top: 20px; text-align: center; z-index: 100; border-radius: 20px;">
      <video id="webcam" autoplay playsinline style="width: 530px; height: 400px; border-radius: 20px;  box-shadow: 0 4px 15px rgba(0,0,0,0.3);"></video>
      <br />
      <button id="captureBtn" class="upload-btn" style="margin-top: 10px; padding: 8px 16px;">Capture</button>
      <canvas id="webcamCanvas" style="
        display: none;
        margin-top: 20px;
        max-width: 90%;
        border: 8px solid #fff;
        border-radius: 20px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
        background-color: #f9f9f9;
      "></canvas>
    </div>
    
    <!-- DERM AI  -->
    <h1 class="tag">DERM AI</h1>

    <!-- LOGO -->
    <img class="logo" src="logo.png" alt="" />

    <!-- banner -->
    <div class="banner" id="banner">
      <h1 id="bannerText">
        Your AI-Powered<br />Personalized Skin Cancer Detector
      </h1>
    </div>

    <!-- Upload button Container -->
    <div class="upload-box" id="dropArea">
      <p>Drag & Drop your image here</p>
      <div style="display: flex; gap: 6px;" class="btns">
      <input type="file" id="fileInput" accept="image/*" />
      <button
        class="upload-btn"
        onclick="document.getElementById('fileInput').click();"
      >
        Upload
      </button>

      <input type="" id="camInput" accept="image/*" />
      
      <button
        class="upload-btn"
        onclick="document.getElementById('camInput').click();"
      >
        Camera
      </button>
    </div>
    </div>

    <!-- Image Preview Container -->
    <div class="image-preview-container" id="imageContainer">
      <img id="previewImage" src="" alt="Uploaded Image" />
    </div>

    <!-- Predict Button -->
    <button class="predict-btn" id="predictBtn">Predict</button>

    <div class="result-container" id="resultContainer">
      <p id="resultText"></p>
    </div>

    <script src="./static/script.js"></script>
  </body>
</html>
